body{
    height: 3000px;
}
main{
    position: relative;
    top: 3%;
}
article{
    width: 100%;
    text-align: center;
}
article img{
    max-width: 70%;
}
article p{
    line-height: 50px;
    text-align: left;
}

.accordion i{
    font-size: 25px;
}
.btn-link:hover{
    text-decoration: none;
}
.btn-link:focus, .btn-link.focus{
    text-decoration: none;
}
.badge-secondary a{
    text-decoration: none;
    color: white;
}